# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Engine/Source/Tutorials/Tutorial10Customshader/common_sprite.fx

Engine/Source/Tutorials/Tutorial10Customshader/common.fx

Engine/Source/Tutorials/Tutorial10Customshader/custom_sprite_pixel_shader_2.fx

Engine/Source/Tutorials/Tutorial10Customshader/custom_sprite_pixel_shader_3.fx

Engine/Source/Tutorials/Tutorial10Customshader/custom_sprite_pixel_shader.fx

Engine/Source/Tutorials/Tutorial10Customshader/custom_sprite_vertex_shader_2.fx

Engine/Source/Tutorials/Tutorial10Customshader/custom_sprite_vertex_shader_3.fx

Engine/Source/Tutorials/Tutorial10Customshader/custom_sprite_vertex_shader.fx

Engine/Source/Tutorials/Tutorial10Customshader/premake5.lua

Engine/Source/Tutorials/Tutorial10Customshader/source/main.cpp

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/ani/atlas.tga

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/ani/idle.fbx

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/ani/jump.fbx

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/ani/plopp_sk.fbx

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/ani/poke.fbx

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/ani/popp_sk.fbx

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/ani/run.fbx

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/ani/sneak.fbx

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/audio/footstep_wood_run_01.wav

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/audio/footstep_wood_run_02.wav

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/audio/footstep_wood_run_03.wav

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/audio/footstep_wood_run_04.wav

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/data/audio/sci-fi_weapon_blaster_laser_boom_small_02.wav

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/premake5.lua

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/source/main.cpp

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/Tutorial.12F38F43.tlog/CL.command.1.tlog

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/Tutorial.12F38F43.tlog/CL.read.1.tlog

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/Tutorial.12F38F43.tlog/CL.write.1.tlog

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/Tutorial.12F38F43.tlog/link.command.1.tlog

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/Tutorial.12F38F43.tlog/link.read.1.tlog

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/Tutorial.12F38F43.tlog/link.write.1.tlog

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/Tutorial.12F38F43.tlog/Tutorial11SkinnedAnimation.lastbuildstate

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/Tutorial.12F38F43.tlog/unsuccessfulbuild

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/Tutorial11SkinnedAnimation.Build.CppClean.log

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/Tutorial11SkinnedAnimation.log

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/Tutorial11SkinnedAnimation.vcxproj.FileListAbsolute.txt

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/vc142.idb

Engine/Source/Tutorials/Tutorial11SkinnedAnimation/x64/Debug/vc142.pdb

Engine/Source/Tutorials/Tutorial12Audio/data/music.ogg

Engine/Source/Tutorials/Tutorial12Audio/premake5.lua

Engine/Source/Tutorials/Tutorial12Audio/source/main.cpp

Engine/Source/Tutorials/Tutorial13Gamepad/premake5.lua

Engine/Source/Tutorials/Tutorial13Gamepad/source/main.cpp

Engine/Source/Tutorials/Tutorial14Threading/premake5.lua

Engine/Source/Tutorials/Tutorial14Threading/source/main.cpp

Engine/Source/Tutorials/Tutorial15Imgui/premake5.lua

Engine/Source/Tutorials/Tutorial15Imgui/source/main.cpp

Engine/Source/Tutorials/Tutorial1Init/premake5.lua

Engine/Source/Tutorials/Tutorial1Init/source/main.cpp

Engine/Source/Tutorials/Tutorial2Sprite/premake5.lua

Engine/Source/Tutorials/Tutorial2Sprite/source/main.cpp

Engine/Source/Tutorials/Tutorial3SpriteBatch/premake5.lua

Engine/Source/Tutorials/Tutorial3SpriteBatch/source/main.cpp

Engine/Source/Tutorials/Tutorial4Text/common.fx

Engine/Source/Tutorials/Tutorial4Text/custom_sprite_pixel_shader.fx

Engine/Source/Tutorials/Tutorial4Text/premake5.lua

Engine/Source/Tutorials/Tutorial4Text/source/main.cpp

Engine/Source/Tutorials/Tutorial5Light/data/tga_logo_n.dds

Engine/Source/Tutorials/Tutorial5Light/premake5.lua

Engine/Source/Tutorials/Tutorial5Light/source/main.cpp

Engine/Source/Tutorials/Tutorial6CustomShapes/CMayaObject.cpp

Engine/Source/Tutorials/Tutorial6CustomShapes/CMayaObject.h

Engine/Source/Tutorials/Tutorial6CustomShapes/premake5.lua

Engine/Source/Tutorials/Tutorial6CustomShapes/SnakeShape.cpp

Engine/Source/Tutorials/Tutorial6CustomShapes/SnakeShape.h

Engine/Source/Tutorials/Tutorial6CustomShapes/source/main.cpp

Engine/Source/Tutorials/Tutorial7RenderTarget/common_sprite.fx

Engine/Source/Tutorials/Tutorial7RenderTarget/common.fx

Engine/Source/Tutorials/Tutorial7RenderTarget/custom_sprite_pixel_shader.fx

Engine/Source/Tutorials/Tutorial7RenderTarget/custom_sprite_vertex_shader.fx

Engine/Source/Tutorials/Tutorial7RenderTarget/premake5.lua

Engine/Source/Tutorials/Tutorial7RenderTarget/source/main.cpp

Engine/Source/Tutorials/Tutorial8Debug/premake5.lua

Engine/Source/Tutorials/Tutorial8Debug/source/main.cpp

Engine/Source/Tutorials/Tutorial9Spritesheets/animation.dds

Engine/Source/Tutorials/Tutorial9Spritesheets/premake5.lua

Engine/Source/Tutorials/Tutorial9Spritesheets/source/main.cpp

Engine/Source/Tutorials/TutorialCommon/TutorialCommon.h

Engine/Source/tga2dcore/premake5.lua

Engine/Source/tga2dcore/resource.h

Engine/Source/tga2dcore/stdafx.cpp

Engine/Source/tga2dcore/stdafx.h

Engine/Source/tga2dcore/targetver.h

Engine/Source/tga2dcore/tga2d/animation/AnimationController.h

Engine/Source/tga2dcore/tga2d/animation/CAnimation.cpp

Engine/Source/tga2dcore/tga2d/animation/CAnimation.h

Engine/Source/tga2dcore/tga2d/animation/Math/MathFunc.cpp

Engine/Source/tga2dcore/tga2d/animation/Math/MathFunc.h

Engine/Source/tga2dcore/tga2d/audio/audio_out.cpp

Engine/Source/tga2dcore/tga2d/audio/audio_out.h

Engine/Source/tga2dcore/tga2d/audio/audio.cpp

Engine/Source/tga2dcore/tga2d/audio/audio.h

Engine/Source/tga2dcore/tga2d/common_converters.h

Engine/Source/tga2dcore/tga2d/d3d/direct_3d.cpp

Engine/Source/tga2dcore/tga2d/d3d/direct_3d.h

Engine/Source/tga2dcore/tga2d/debugging/memory_tracker.cpp

Engine/Source/tga2dcore/tga2d/debugging/memory_tracker.h

Engine/Source/tga2dcore/tga2d/debugging/stack_trace.cpp

Engine/Source/tga2dcore/tga2d/debugging/stack_trace.h

Engine/Source/tga2dcore/tga2d/drawers/custom_shape_drawer.cpp

Engine/Source/tga2dcore/tga2d/drawers/custom_shape_drawer.h

Engine/Source/tga2dcore/tga2d/drawers/debug_drawer.cpp

Engine/Source/tga2dcore/tga2d/drawers/debug_drawer.h

Engine/Source/tga2dcore/tga2d/drawers/debug_performancegraph.cpp

Engine/Source/tga2dcore/tga2d/drawers/debug_performancegraph.h

Engine/Source/tga2dcore/tga2d/drawers/line_drawer.cpp

Engine/Source/tga2dcore/tga2d/drawers/line_drawer.h

Engine/Source/tga2dcore/tga2d/drawers/sprite_drawer.cpp

Engine/Source/tga2dcore/tga2d/drawers/sprite_drawer.h

Engine/Source/tga2dcore/tga2d/engine_defines.h

Engine/Source/tga2dcore/tga2d/engine.cpp

Engine/Source/tga2dcore/tga2d/engine.h

Engine/Source/tga2dcore/tga2d/error/error_manager.cpp

Engine/Source/tga2dcore/tga2d/error/error_manager.h

Engine/Source/tga2dcore/tga2d/filewatcher/file_watcher.cpp

Engine/Source/tga2dcore/tga2d/filewatcher/file_watcher.h

Engine/Source/tga2dcore/tga2d/imguiinterface/CImGuiInterface.cpp

Engine/Source/tga2dcore/tga2d/imguiinterface/CImGuiInterface.h

Engine/Source/tga2dcore/tga2d/input/XInput.cpp

Engine/Source/tga2dcore/tga2d/input/XInput.h

Engine/Source/tga2dcore/tga2d/light/light_manager.cpp

Engine/Source/tga2dcore/tga2d/light/light_manager.h

Engine/Source/tga2dcore/tga2d/light/light.cpp

Engine/Source/tga2dcore/tga2d/light/light.h

Engine/Source/tga2dcore/tga2d/loaders/FBXLoader.cpp

Engine/Source/tga2dcore/tga2d/loaders/FBXLoader.h

Engine/Source/tga2dcore/tga2d/loaders/tgaloader.cpp

Engine/Source/tga2dcore/tga2d/loaders/tgaloader.h

Engine/Source/tga2dcore/tga2d/math/color.h

Engine/Source/tga2dcore/tga2d/math/common_math.cpp

Engine/Source/tga2dcore/tga2d/math/common_math.h

Engine/Source/tga2dcore/tga2d/math/matrix44.h

Engine/Source/tga2dcore/tga2d/math/vector2.h

Engine/Source/tga2dcore/tga2d/math/vector2imp.h

Engine/Source/tga2dcore/tga2d/math/vector4.h

Engine/Source/tga2dcore/tga2d/model/FBXModel.cpp

Engine/Source/tga2dcore/tga2d/model/FBXModel.h

Engine/Source/tga2dcore/tga2d/model/ModelStatus.h

Engine/Source/tga2dcore/tga2d/noise/perlin_noise.cpp

Engine/Source/tga2dcore/tga2d/noise/perlin_noise.h

Engine/Source/tga2dcore/tga2d/primitives/custom_shape.cpp

Engine/Source/tga2dcore/tga2d/primitives/custom_shape.h

Engine/Source/tga2dcore/tga2d/primitives/line_primitive.cpp

Engine/Source/tga2dcore/tga2d/primitives/line_primitive.h

Engine/Source/tga2dcore/tga2d/primitives/model_shape.cpp

Engine/Source/tga2dcore/tga2d/primitives/model_shape.h

Engine/Source/tga2dcore/tga2d/render/render_common.h

Engine/Source/tga2dcore/tga2d/render/render_object.cpp

Engine/Source/tga2dcore/tga2d/render/render_object.h

Engine/Source/tga2dcore/tga2d/render/renderer.cpp

Engine/Source/tga2dcore/tga2d/render/renderer.h

Engine/Source/tga2dcore/tga2d/shaders/shader_common.h

Engine/Source/tga2dcore/tga2d/shaders/shader_model.cpp

Engine/Source/tga2dcore/tga2d/shaders/shader_model.h

Engine/Source/tga2dcore/tga2d/shaders/shader.cpp

Engine/Source/tga2dcore/tga2d/shaders/shader.h

Engine/Source/tga2dcore/tga2d/shaders/sprite_shader.cpp

Engine/Source/tga2dcore/tga2d/shaders/sprite_shader.h

Engine/Source/tga2dcore/tga2d/sprite/sprite.h

Engine/Source/tga2dcore/tga2d/StepTimer.h

Engine/Source/tga2dcore/tga2d/text/fontfile.cpp

Engine/Source/tga2dcore/tga2d/text/fontfile.h

Engine/Source/tga2dcore/tga2d/text/parser.cpp

Engine/Source/tga2dcore/tga2d/text/parser.h

Engine/Source/tga2dcore/tga2d/text/text_service.cpp

Engine/Source/tga2dcore/tga2d/text/text_service.h

Engine/Source/tga2dcore/tga2d/text/text.cpp

Engine/Source/tga2dcore/tga2d/text/text.h

Engine/Source/tga2dcore/tga2d/text/textfile.cpp

Engine/Source/tga2dcore/tga2d/text/textfile.h

Engine/Source/tga2dcore/tga2d/text/token.cpp

Engine/Source/tga2dcore/tga2d/text/token.h

Engine/Source/tga2dcore/tga2d/texture/texture_manager.cpp

Engine/Source/tga2dcore/tga2d/texture/texture_manager.h

Engine/Source/tga2dcore/tga2d/texture/texture.cpp

Engine/Source/tga2dcore/tga2d/texture/texture.h

Engine/Source/tga2dcore/tga2d/videoplayer/video_audio.cpp

Engine/Source/tga2dcore/tga2d/videoplayer/video_audio.h

Engine/Source/tga2dcore/tga2d/videoplayer/video.cpp

Engine/Source/tga2dcore/tga2d/videoplayer/video.h

Engine/Source/tga2dcore/tga2d/videoplayer/videoplayer.cpp

Engine/Source/tga2dcore/tga2d/videoplayer/videoplayer.h

Engine/Source/tga2dcore/tga2d/windows/windows_window.cpp

Engine/Source/tga2dcore/tga2d/windows/windows_window.h

Engine/Source/tga2dcore/tga2dcore.aps

Engine/Source/tga2dcore/tga2dcore.filters

Engine/Source/tga2dcore/tga2dcore.rc

Engine/Source/tga2dcore/tga2dcore.user

Engine/Source/tga2dcore/version.h

Engine/Source/tga2dcore/xxh64_en.hpp

Engine/Source/Tutorials/premake5.lua

Engine/Source/External/

Engine/Doc/

Engine/.vs/

Engine/Temp/

Engine/Bin/Launcher_Debug.pdb
